<footer class="bg-white font-bold text-black pt-24 pb-10">
  <div class="container mx-auto px-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
      <div class="flex flex-col items-center md:items-start space-y-4 px-12">
        <a href="/">
          <img src="/logo.jpg" alt="Logo" class="h-24">
        </a>
      </div>
      <div class="flex flex-col items-center md:items-start text-md space-y-4 px-4">
        <div class="grid grid-cols-2 sm:grid-cols-3 gap-6 mb-10 pl-12">
          <a href="#" class="hover:underline">Home</a>
          <a href="#" class="hover:underline">Insights</a>
          <a href="#" class="hover:underline">Careers</a>
          <a href="#" class="hover:underline">People</a>
          <a href="#" class="hover:underline">About</a>
          <a href="#" class="hover:underline">Geographies</a>
          <a href="#" class="hover:underline">Services</a>
          <a href="#" class="hover:underline">Diversity</a>
        </div>
      </div>
      <div class="flex flex-col items-center md:items-end gap-5 px-24">
        <a href="/"><p class="text-2xl">Contact us ></p></a>
        <a href="/"><p class="text-gray-600 text-sm">Media RSS Feed</p></a>
        <a href="/"><p class="text-gray-600 text-sm">Legal Notices & Privacy Policy</p></a>
        <a href="/"><p class="text-gray-600 text-sm">Attorney Advertising</p></a>
      </div>
    </div>
    <div class="flex justify-center text-xs text-gray-500 mt-6">
      <p>&copy; 2025 Cooley LLP and Cooley (UK) LLP. All rights reserved.</p>
    </div>
  </div>
</footer>
