<section class="bg-black h-screen w-screen text-center relative overflow-hidden">
  <video autoplay muted loop class="absolute top-0 left-0 w-full h-full object-cover">
    <source src="/video.mp4" type="video/mp4" />
  </video>
  <div class="absolute inset-0 flex items-center justify-center text-white">
    <h2 class="font-bold text-4xl sm:text-3xl md:text-4xl lg:text-6xl">
      Power innovation defend success.
    </h2>
  </div>
</section>